<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/18120173-1dd8-4042-a075-e7d7c1f20ce6/resourceGroups/XamarinHackDay/providers/Microsoft.Web/sites/XamarinHackDay-Functions</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://xamarinhackday-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>xamarinhackday-functions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>XamarinHackDay-Functions</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$XamarinHackDay-Functions</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>